html {
  font-size: 16px;
  visibility: hidden;
  
  
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  font-family: "helvetica neue", helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #e0f800;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#dff80064;
}

.scroll {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #3e448e;
  font-family: "font-2";
  font-size: calc(0.5rem + 0.35vw);
  z-index: 10;
}

.logo {
  position: absolute;
  top: -1rem;
  left: 5%;
  transform: translateX(-25%);
  padding: 0;
  margin: 0;
  z-index: 10;
}
.logo img {
  display: block;
  height: 8rem;
  width: auto;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  position: absolute;
  top: 2rem;
  z-index: 10;
  color: #1900f8
}
.nav--left {
  left: 1rem;
}
.nav--right {
  right: 1rem;
  padding: 5px;
  /* background-color: #6f6f6f; */
  opacity: .9;
  border-radius: 5%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;

}
.nav ul {
  display: flex;
  align-items: center;
  height: 1rem;
}
.nav li {
  display: block;
  margin: 0 1rem;
  

}
.nav a {
  position: relative;
  display: block;
  align-items: center;
  font-size: calc(1rem + 0.35vw);
  font-family: "helvetica neue", helvetica, sans-serif;
}
.nav a span {
  position: relative;

}
.nav a span:before {
  content: "";
  position: relative;
  left: 0;
  /* bottom: -0.35rem; */
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  /* transition: transform 0.75s ease;
  transform-origin: right;
  transform: scaleX(0); 
  color:black; */


}
.nav a:hover span:before, .nav a.is-active span:before {
  transform: scaleX(1);
  transform-origin: left;

}

.vert-text {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 15rem;
  display: flex;
  align-items: center;
  z-index: 10;

}
.vert-text span {
  display: block;
  color: #e0f800;
  text-transform: uppercase;
  line-height: 1.1;
  transform: rotate(-90deg) translateY(15rem);
  transform-origin: bottom left;
  font-size: 1.35rem;
}

.cart-total {
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slider__text {
  position: absolute;
  bottom: calc(2rem + 3vw);
  left: calc(2rem + 3vw);
  z-index: 10;
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  transform-origin: top;
  line-height: 1.075;
  color: #e0f800;
  font-weight: 500;
}

.slider__text__mid {
  position: absolute;
  top: calc(2rem + 25vw);
  /* left: calc(1rem + 27vw); */
  z-index: 10;
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  transform-origin: top;
  line-height: 1.075;
  text-align: center;
  color: #e0f800;
  font-weight: 500;

  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
     
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #fff;
  opacity: 0.9
}

.slider__text__top {
  text-align: center;
  position: absolute;
  top: calc(2rem + 4vw);
  left: calc(2rem + 2vw);
  z-index: 10;
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  transform-origin: top;
  line-height: 1.075;
  color: #e0f800;
  font-weight: 500;
  background-color: #313131;
  opacity: 0.98;
  height: 5%;
}

.slider__text-line {
  overflow: hidden;
  width: auto;
  
}
.slider__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slider__nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
}
.slider-bullet {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.slider-bullet__text {
  color: #3e448e;
  font-size: 0.65rem;
  margin-right: 1rem;
}
.slider-bullet__line {
  background-color: #3e448e;
  height: 1px;
  width: 1rem;
}
.slider canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slide {
  /* position: absolute; */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.slide__content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: flex; */
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slide__img {
  position: flex;
  width: 25vw;
  height: 70vh;
  padding: 0;
  margin: 0;
  min-width: 12.5rem;
  transform-origin: top;
}
.slide__img:first-child {
  top: -1.5rem;
}
.slide__img:last-child {
  bottom: -1.5rem;
}
.slide__img img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  /* display: block; */
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right:0;
  top: 0;
  width:auto;
  height:60%;
  -o-object-fit: cover;
     object-fit: cover;
     
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #fff;
  /* opacity: 0.98 */
}

.cardcontainer {
  /* padding: 2px 16px; */
  color:#e0f800;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: calc(0.5rem + 1vw);
  text-transform: capitalize;
  width: 100%;
  height:auto;
}

.cc_p {
  color:#111;
  padding-bottom: 5%;
}

.movable_tagline{
  visibility: hidden;
  top:50%;
  font-weight: bold;
  text-align: center;
}
.movable_tagline::before{
  content: '\A';
  display:block

}
.top_tagline{
  font-weight: 100;
  display:block

}
.black_bg{
  background-color: #313131;
  /* overflow: hidden; */
}
.black_bg_lite{
  background-color: #6f6f6f;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  margin: 1% !important;
  left: 1%;
  background-color: #4c4fda !important;
}
.text_box{
  margin:2;
  background-color: #313131;
  /* height:20%;
  width: 50%; */
  text-align: center;
  /* top: 30; */
}